{% for message in app.session.flashBag.get('success')  %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashBag.get('warning')  %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashBag.get('errors')  %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}