{% extends 'base_admin.html.twig' %}
{% block title %}Atualizar Usuário{% endblock %}

{% block body %}
<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-success" type="submit">Salvar</button>
    {{ form_end(form) }}
</div>
{% endblock %}
